@use 'themes' as *; // nebular theme
@use '@nebular/theme/styles/globals' as *; // framework component styles
@include nb-install() { // install the framework styles
  @include nb-theme-global();
}

.__emtpy__ {
  display: none;
}

p {
  margin: 0;
}

/* Dimensions */

.tg-max-w-50 {
  max-width: 50rem;
}

/* Paddings */

.tg-p-1 {
  padding: 0.5rem;
}

.tg-p-2 {
  padding: 1rem;
}

/* Margins */

.tg-m-1 {
  margin: 0.5rem;
}

.tg-m-2 {
  margin: 1rem;
}

.tg-mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tg-mt-1 {
  margin-top: 0.5rem;
}

.tg-mt-2 {
  margin-top: 1rem;
}

/* Display */

.tg-block {
  display: block;
}

.tg-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tg-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tg-justify-around {
  justify-content: space-around;
}

.tg-flex-grow {
  flex-grow: 1;
}

/* Misc */

.tg-404 > h1 {
  font-size: 120px;
}



.tg-debug {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: nb-theme(background-basic-color-4);
  cursor: pointer;
  border-radius: 0.6rem;
}

::-webkit-scrollbar-track {
  background: nb-theme(background-basic-color-2);
}
