@use 'themes' as *; // nebular theme
@use '@nebular/theme/styles/globals' as *; // framework component styles
@include nb-install() {
  // install the framework styles
  @include nb-theme-global();
}

.__emtpy__ {
  display: none;
}

p {
  margin: 0;
}

/* Typography */

.tg-medium-weight {
  font-weight: var(--input-medium-text-font-weight);
}

/* Colors */

.tg-basic-bg {
  background-color: var(--input-basic-background-color);
  &:hover {
    background-color: var(--input-basic-hover-background-color);
  }
}

.tg-text-hint {
  color: var(--text-hint-color);
}

/* Dimensions */

.tg-max-w-30 {
  max-width: 30rem;
}

.tg-max-w-50 {
  max-width: 50rem;
}

.tg-max-w-70 {
  max-width: 70rem;
}

.tg-full {
  width: 100%;
  height: 100%;
}

/* Paddings */

.tg-p-0 {
  padding: 0 !important;
}

.tg-p-1 {
  padding: 0.5rem;
}

.tg-p-2 {
  padding: 1rem;
}

/* Margins */

.tg-m-1 {
  margin: 0.5rem;
}

.tg-m-2 {
  margin: 1rem;
}

.tg-m-4 {
  margin: 2rem;
}

.tg-my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tg-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tg-mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tg-mt-1 {
  margin-top: 0.5rem;
}

.tg-mt-2 {
  margin-top: 1rem;
}

.tg-mb-2 {
  margin-bottom: 1rem;
}

/* Display */

.tg-block {
  display: block;
}

.tg-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tg-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tg-justify-around {
  justify-content: space-around;
}

.tg-justify-center {
  justify-content: center;
}

.tg-flex-grow {
  flex-grow: 1;
}

/* Misc */

.tg-resize-vertical {
  resize: vertical;
}

.tg-404 > h1 {
  font-size: 120px;
}

.tg-debug {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: nb-theme(background-basic-color-4);
  cursor: pointer;
  border-radius: 0.6rem;
}

::-webkit-scrollbar-track {
  background: nb-theme(background-basic-color-2);
}
